extends layout

block content    
    h1 #{title}

    form(action="/addStudent" method="post")
        div.form-group
            input.form-control(type="text" name="FirstName" placeholder="First Name")

        div.form-group
            input.form-control(type="text" name="LastName" placeholder="Last Name")
            
        div.form-group
            input.form-control(type="text" name="School" placeholder="School")
            
        input.btn.btn-primary(type="submit" value="Add Student")
        |  
        a.btn.btn-primary(href="/") Cancel